html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  color: #1d1f24;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}

/* 헤더 */
header {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  position: fixed;
  background-color: white;
  z-index: 1;
}

nav > ul {
  font-size: 1.4em;
}

/* 바디 */
main {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.card_img {
  background-color: black;
  color: white;
}
.tag_card {
  background-color: #ff565c;
  color: white;
  height: 40px;
  width: 107px;
}
.text_tag {
  text-align: center;
  font-size: 1.4rem;
  padding-top: 12px;
}

.icons {
  display: flex;
}
.arrow,
.eye,
.talk,
.icons .icon_number {
  display: flex;
}
.icon_number {
  padding: 5px 10px 0px 5px;
}

/* 이미지카드 */
.card_img .main_txt {
  font-size: 2.4rem;
  margin-top: 20px;
}
.card_img .tag_card {
  position: relative;
  left: -25px;
}

.card_img .icons {
  padding: 40px 0 10px 0;
}

/* 메인카드 */
.main_card {
  text-align: center;
}
.main_card .tag_card {
  margin: 0 auto;
  left: 0;
}
.main_card .icons {
  justify-content: center;
  padding: 75px 0 10px 0;
}

/* 기능카드 */
.featured_card {
  background-color: white;
}
.featured_card li {
  margin-top: 20px;
}
.featured_card .title {
  font-size: 1.4rem;
  margin-top: 15px;
}
.featured_card .number,
.featured_card .featured_txt {
  display: inline;
  font-size: 1.8rem;
}

.featured_card .number {
  color: #ababab;
  padding-right: 15px;
}

.featured_card .line {
  border: 1px solid #f2f3f6;
  margin-top: 20px;
}

/* 텍스트카드 */
.text_card {
  background-color: #ff565c;
  color: white;
}
.text_card .main_txt {
  margin-top: 10px;
  font-size: 2.6rem;
}

.text_card .sub_txt {
  margin-top: 25px;
  font-size: 1.8rem;
  line-height: 3rem;
}
.btn_read_more {
  background-color: #ff565c;
  color: white;
  border: 1px solid white;
  width: 210px;
  height: 60px;
  margin: 25px 0;
}

.btn_read_more:hover {
  background-color: white;
  color: #ff565c;
}

/* 푸터 */
footer {
  background-color: #1d1f24;
  color: #ffff;
}
.brand {
  font-size: 1.4rem;
  font-weight: 200;
}
.form_subscribe {
  display: flex;
}
.form_subscribe input {
  height: 3.5rem;
  border: none;
  padding-left: 10px;
}
.btn_subscribe {
  height: 3.5rem;
  width: 12rem;
  border: 1px solid #ff565c;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: #ff565c;
  color: white;
}
.btn_subscribe:hover {
  background-color: white;
  color: #ff565c;
}
.social {
  display: flex;
  align-items: center;
  width: 194px;
}
.txt_follow {
  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: 200;
}
.social_icons img {
  margin-right: 10px;
}
.footer_nav ul {
  font-size: 1.4rem;
  font-weight: 400;
  display: grid;
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
  /* 헤더 */
  header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    display: none;
    position: fixed;
  }
  .logo_header {
    display: inline;
    padding-left: 20px;
  }

  .hamberger {
    padding-right: 20px;
  }

  /* 메인 */
  main {
    padding: 90px 20px 60px 20px;
  }

  .bottom_section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  .card {
    margin-top: 20px;
    padding: 25px;
    box-sizing: border-box;
  }

  .surb_card3 {
    display: none;
  }

  /* 푸터 */
  footer {
    /* position: static; */
    padding: 40px 20px;
  }
  .middle_info {
    display: flex;
    margin-top: 20px;
  }
  .social {
    margin-left: 20px;
  }
  .footer_nav {
    position: relative;
    bottom: -10px;
  }
}

/* 모바일 */
@media screen and (max-width: 576px) {
  /* 헤더 */
  header {
    height: 7rem;
  }

  /* 메인 */
  main {
    padding: 70px 20px 60px 20px;
  }
  .bottom_section {
    display: block;
  }

  .card {
    margin: 0 auto;
    margin-top: 20px;
  }

  .main_card .main_txt {
    font-size: 2.6rem;
  }
  .main_card .sub_txt,
  .main_card .slide {
    display: none;
  }
  .main_card .tag_card {
    margin-top: 60px;
  }

  .featured_card {
    width: 336px;
  }

  .main_txt {
    font-size: 2.6rem;
  }
  .sub_txt {
    font-size: 1.8rem;
  }
  .read_more {
    font-size: 1.6rem;
  }

  /* 안보일 카드 */
  .surb_card1,
  .surb_card3,
  .surb_card4 {
    display: none;
  }

  /* 푸터 */
  footer {
    padding: 40px 20px;
  }
  .form_subscribe {
    margin-top: 20px;
  }
  .social {
    margin-top: 20px;
  }
  .footer_nav ul {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .middle_info {
    display: block;
  }
  .social {
    margin-left: 0;
  }
}

/* 데스크탑 */
